# Python
__pycache__/
*.py[cod]
.venv/
venv/

# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Local databases
*.db
*.sqlite
*.sqlite3

# Environment variables / secrets
.env

# Temporary files
*.tmp

# Raw datasets
data/raw/

# Processed datasets
data/processed/